

body{
    font-family: 'Lato', Verdana, sans-serif;
}

.header {
    height: 89px;
    background:#2d303a;
    width: 1020px;
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    width: 371px;
    justify-content: space-between;
    font-size: 9pt;
}

.navbar ul li{
    color: red;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
}

.navbar {
    margin: 30px 40px 0 0;
}
  
.navbar-item:hover {
    text-decoration: underline;
}  

.logo { 
    padding-top: 10px;
    margin-left: 40px;
    color: white;
    font-size: 10pt;
    letter-spacing: -0.1rem;
}

.thin-line {
    height: 6px;
    width: 1020px;
    background-color: #323746;
}

.slider {
    height: 594px;
    width: 1020px;
    background-color: #f06c64;
    display: flex;
}

.line-under-slider {
    height: 6px;
    width: 1020px;
    background-color: #ea676b;
}

.footer {
    height: 496px;
    width: 1020px;
    background-color: #f2f2f2;
}

.line-under-footer {
    height: 6px;
    width: 1020px;
    background-color: #ffffff;
}

.text-footer-h {
    padding-left: 40px;
    margin: 0;
    padding-top: 59px;
    font-size: 30px;
    letter-spacing: -0.02rem;
    font-weight: 900;
    color: #666d89;
  }
  
  .text-footer-p {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 43px;
    font-size: 18px;   
    line-height: 30px;
    font-weight: 100;
    text-align: justify;
    color: #767e9e;
    letter-spacing: 0px;
  }

.img_arrow_left {
    padding-left: 42px;
    height: 27px;
    width: 16px;
    padding-top: 281px;
}

.img_arrow_left:hover {
    cursor: pointer;
}

.img_arrow_right:hover {
    cursor: pointer;
}

.img_arrow_right {
    padding-left: 55px;
    height: 27px;
    width: 16px;
    padding-top: 281px;
}

.img1 {
    padding-left: 54px;
    height: 483px;
    width: 240px;
    padding-top: 53px;
}

.img2 {
    padding-left: 73px;
    height: 240px;
    width: 484px;
    padding-top: 174px;
}

#grid { 
    display: grid;
    grid-template-rows: 123px 123px 123px;
    grid-template-columns: 319px 320px 320px;
    padding-left: 40px;
}

#grid > div {
    text-align: left;
    justify-content: space-between;
    display: flex;
}  

.element {
    padding-left: 18px;
    font-size: 18px;
    color: #666d89;
    text-align: left;
    font-weight: 800;
    letter-spacing: -0.0005rem;
    overflow: hidden;
}

.icon{
    width: 62px;
    height: 61px;
    padding-top: 3px;
}

.service-text {
    font-size: 12px;
    letter-spacing: 0.009rem;
    line-height: 20px;
    font-weight: 400;
    color: #767e9e;
    text-align: justify;
    padding-right: 20px;
}




  











